---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import CardInformation from "../components/CardInformation.astro";
---

<Layout title="Welcome to Astro.">
  <Home />
  <CardInformation />
  <!--  <h1 class="text-green-600">
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p> -->
  <!-- <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul> -->
</Layout>
