---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import CardInformation from "../components/CardInformation.astro";
import cardInformationImage_1 from "./../assets/images/cardInfo_img_1.svg";
import cardInformationImage_2 from "./../assets/images/cardInfo_img_2.svg";
import { textGradient } from "../utils/constants";
import TicketCard from "../components/TicketCard.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("es");
---

<Layout title="Dotlabs(Medellín)">
  <Home />
  <CardInformation
    title_h1={t("cardInformation.card1.title")}
    p1={t("cardInformation.card1.p1")}
    p2={t("cardInformation.card1.p2")}
    img={cardInformationImage_1}
    imgAlt="Image cannot be rendered"
  >
    <div class="max-w-max p-3 rounded-2xl my-3 bg-yellow-custom">
      <p class={`font-bold ${textGradient} text-3xl tracking-wide`}>
        <Trans i18nKey="cardInformation.date">24 y 25 DE MARZO</Trans>
      </p>
    </div>
  </CardInformation>
  <CardInformation
    reverse={true}
    title_h2={t("cardInformation.card2.title")}
    p1={t("cardInformation.card2.p1")}
    p2={t("cardInformation.card2.p2")}
    img={cardInformationImage_2}
    imgAlt="Image cannot be rendered"
  />
  <TicketCard />
</Layout>
