---
import dotlabsHandIcon from "../assets/icons/dotlabs-hand.svg";
import dotlabsHandIconWhite from "../assets/icons/dotlabs-hand-white.svg";

export interface Props {
  white?: boolean;
  bigger?: boolean;
}

const { white, bigger } = Astro.props;
---

<div id="dotlabsLogo" class="flex items-center gap-x-4 w-48 cursor-pointer">
  <img src={white ? dotlabsHandIconWhite : dotlabsHandIcon} alt="Dotlabs" />
  <span class={`font-bold ${white && "text-white"} ${bigger && "text-xl"}`}
    >Dotlabs()</span
  >
</div>
