---
import { backgroundGradientColor, textGradient } from "../utils/constants";

export interface Props {
  content: string[];
  title_h2?: string;
  span?: string;
}

const { content, span, title_h2 } = Astro.props;
---

<div>
  <div class="flex justify-between">
    {
      title_h2 ? (
        <h2 class="text-4xl text-main font-medium">{title_h2}</h2>
      ) : null
    }

    {span ? <span class="text-4xl text-gray-600">+ {span}</span> : null}
  </div>

  {
    content ? (
      <>
        <p class="py-6">
          Un hackathon es un evento en el que participantes de diferentes áreas
          de especialización se reúnen durante un período de tiempo limitado
          para colaborar y desarrollar soluciones tecnológicas innovadoras.
          {content}
        </p>
        <hr class="bg-slate-600 py-[0.8px]" />
      </>
    ) : null
  }
</div>
