---
import { textGradient } from "../utils/constants";
import Faq from "./Faq.astro";
import { t } from "i18next";
import { Trans } from "astro-i18next/components";

export interface Props {}
---

<section class={`w-full mb-32 flex flex-col shadow-lg bg-white`}>
  <div class="m-8 md:m-16">
    <div class="flex flex-col mb-20">
      <h1
        class={`text-center text-3xl md:text-4xl font-extrabold ${textGradient}`}
      >
        {t("faqSection.title")}
      </h1>
      <h2 class="text-center text-xl md:text-2xl">
        {t("faqSection.subtitle")}
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-[80rem] mx-auto">
      <Faq
        id={1}
        question={t("faqSection.faqs.faq1.question")}
        answer={t("faqSection.faqs.faq1.answer")}
      />
      <Faq
        id={2}
        question={t("faqSection.faqs.faq2.question")}
        answer={t("faqSection.faqs.faq2.answer")}
      />
      <Faq
        id={3}
        question={t("faqSection.faqs.faq3.question")}
        answer={t("faqSection.faqs.faq3.answer")}
      />
      <Faq
        id={4}
        question={t("faqSection.faqs.faq4.question")}
        answer={t("faqSection.faqs.faq4.answer")}
      />
      <Faq
        id={5}
        question={t("faqSection.faqs.faq5.question")}
        answer={t("faqSection.faqs.faq5.answer")}
      />
      <Faq
        id={6}
        question={t("faqSection.faqs.faq6.question")}
        answer={t("faqSection.faqs.faq6.answer")}
      />
      <Faq
        id={7}
        question={t("faqSection.faqs.faq7.question")}
        answer={t("faqSection.faqs.faq7.answer")}
      />
      <Faq
        id={8}
        question={t("faqSection.faqs.faq8.question")}
        answer={t("faqSection.faqs.faq8.answer")}
      />
      <Faq
        id={9}
        question={t("faqSection.faqs.faq9.question")}
        answer={t("faqSection.faqs.faq8.answer")}
      />
      <Faq
        id={10}
        question={t("faqSection.faqs.faq10.question")}
        answer={t("faqSection.faqs.faq8.answer")}
      />
      <Faq
        id={11}
        question={t("faqSection.faqs.faq11.question")}
        answer={t("faqSection.faqs.faq8.answer")}
      />
    </div>
  </div>
</section>
