---
import { Trans } from "astro-i18next/components";
import { mainGradient } from "../utils/constants";
import DotlabsLogo from "./DotlabsLogo.astro";
import Socials from "./Socials.astro";
import { t } from "i18next";
---

<footer class={` h-fit ${mainGradient} text-white `}>
  <div
    class="max-w-[55rem] mx-auto flex flex-col gap-11 md:flex-row items-center md:gap-44 px-9 md:px-7 py-14 pb-16"
  >
    <div class="flex flex-col gap-5">
      <DotlabsLogo white={true} bigger={true} />
      <p class="w-full">
        {t("footer.description")}
      </p>
      <Socials white={true} />
    </div>
    <div class="flex gap-32 w-full">
      <ul class="flex flex-col gap-3">
        <li id="footerHome" class="cursor-pointer">{t("nav.home")}</li>
        <li id="footerDate" class="cursor-pointer">{t("nav.date")}</li>
        <li id="footerTeam" class="cursor-pointer">Teams</li>
        <li id="footerPrize" class="cursor-pointer">Prize</li>
      </ul>
      <ul class="flex flex-col gap-3">
        <li id="footerTicket" class="cursor-pointer">Ticket</li>
        <li id="footerFaq" class="cursor-pointer">FAQ</li>
        <li id="footerMap" class="cursor-pointer">Map</li>
      </ul>
    </div>
  </div>
</footer>
<script>
  const scrollIntoviewConf: ScrollIntoViewOptions = {
    behavior: "smooth",
    block: "center",
  };
  const homeButton = document.getElementById("footerHome");
  const dateButton = document.getElementById("footerDate");
  const teamButton = document.getElementById("footerTeam");
  const prizeButton = document.getElementById("footerPrize");
  const ticketButton = document.getElementById("footerTicket");
  const faqButton = document.getElementById("footerFaq");
  const mapButton = document.getElementById("footerMap");

  const home = document.getElementById("home");
  const date = document.getElementById("date");
  const team = document.getElementById("team");
  const prize = document.getElementById("prize");
  const ticket = document.getElementById("ticket");
  const faq = document.getElementById("faq");
  const map = document.getElementById("map");

  homeButton?.addEventListener("click", () =>
    home?.scrollIntoView(scrollIntoviewConf)
  );
  dateButton?.addEventListener("click", () =>
    date?.scrollIntoView(scrollIntoviewConf)
  );
  teamButton?.addEventListener("click", () =>
    team?.scrollIntoView(scrollIntoviewConf)
  );
  prizeButton?.addEventListener("click", () =>
    prize?.scrollIntoView(scrollIntoviewConf)
  );
  teamButton?.addEventListener("click", () =>
    team?.scrollIntoView(scrollIntoviewConf)
  );
  ticketButton?.addEventListener("click", () =>
    ticket?.scrollIntoView(scrollIntoviewConf)
  );
  faqButton?.addEventListener("click", () =>
    faq?.scrollIntoView(scrollIntoviewConf)
  );
  mapButton?.addEventListener("click", () =>
    map?.scrollIntoView(scrollIntoviewConf)
  );
</script>
