---
---

<header class="bg-green-400 h-14">
  <div
    class="flex justify-between items-center max-w-[90rem] mx-auto px-9 h-full"
  >
    <div>Dotlabs()</div>
    <nav class="flex gap-x-4">
      <span>Inicio</span>
      <span>Fecha</span>
      <span>Teams</span>
      <span>Ticket</span>
      <span>FAQ</span>
      <span>Map</span>
    </nav>
    <div>social networks</div>
  </div>
</header>
