---
import { backgroundGradientColor } from "../utils/constants";
import Socials from "./Socials.astro";
import { LanguageSelector, Trans } from "astro-i18next/components";
import DotlabsLogo from "./DotlabsLogo.astro";
import MenuMobile from "./MenuMobile.astro";
---

<header class="h-16 sticky top-0 backdrop-blur-[2px] z-40">
  <div
    class={`absolute top-0 w-full h-full ${backgroundGradientColor} opacity-50 `}
  >
  </div>
  <div
    class={`grid grid-cols-2  lg:grid-cols-header items-center  max-w-[90rem] mx-auto px-12 h-full relative text-main `}
  >
    <DotlabsLogo />
    <nav class="hidden lg:flex gap-x-4 justify-self-center">
      <span class="hover:font-semibold"
        ><Trans i18nKey="nav.home">Inicio</Trans></span
      >
      <span class="hover:font-semibold"
        ><Trans i18nKey="nav.date">Fecha</Trans></span
      >
      <!-- Does not require translation -->
      <span class="hover:font-semibold">Teams</span>
      <!-- Does not require translation -->
      <span class="hover:font-semibold">Ticket</span>
      <!-- Does not require translation -->
      <span class="hover:font-semibold">FAQ</span>
      <!-- Does not require translation -->
      <span class="hover:font-semibold">Map</span>
    </nav>
    <MenuMobile />
    <Socials>
      <LanguageSelector
        showFlag={true}
        class="cursor-pointer rounded-lg p-1 bg-transparent focus:outline focus:outline-main focus:outline-2"
      />
    </Socials>
  </div>
</header>
