---
---

<section class="h-screen min-h-[20rem] flex justify-center items-center">
  <div class="bg-red-200 flex flex-col items-center gap-y-4">
    <h1>DOTLABS (MEDELLÍN)</h1>
    <p class="max-w-md text-center">
      ¿Te sumas al reto de participar en la hackathon blockchain más grande de
      Latinoamérica?
    </p>
    <button class="bg-purple-900 text-white px-10 py-1 rounded-lg"
      >Continuar</button
    >
  </div>
</section>
