---
import startIcon from "../assets/icons/start.svg";
import lineIcon from "../assets/icons/line-title.svg";
import backgroundHomeImage from "../assets/images/background-home.svg";
import { textGradient } from "../utils/constants";
import { Trans } from "astro-i18next/components";
---

<section id="home" class="h-screen min-h-[20rem] flex justify-center">
  <img
    src={backgroundHomeImage}
    alt="Background image"
    class="absolute w-full top-0"
  />

  <div class="flex flex-col items-center gap-y-4 mt-36">
    <h1
      class={`text-6xl font-extrabold flex flex-col md:flex-row items-center gap-x-3 ${textGradient}`}
    >
      DOTLABS
      <div>
        (MEDELLÍN)
        <img src={lineIcon} alt="Line Icon" class="w-[18rem] ml-7" />
      </div>
    </h1>
    <p class="max-w-md text-center text-lg">
      <Trans i18nKey="home.invitation">
        ¿Te sumas al reto de participar en la hackathon blockchain más grande de
        Latinoamérica?
      </Trans>
    </p>
    <a
      href="#date"
      class="bg-main text-white px-16 py-3 rounded-lg flex items-center gap-x-4 z-10"
    >
      <img src={startIcon} alt="Start Icon" />
      <span><Trans i18nKey="home.button">Comenzar</Trans></span>
    </a>
  </div>
</section>
