---
import startIcon from "../assets/icons/start.svg";
import lineIcon from "../assets/icons/line-title.svg";
import backgroundHomeImage from "../assets/images/background-home.svg";
import { textGradient } from "../utils/constants";
import { t } from "i18next";
---

<section
  id="home"
  class="h-screen min-h-[40rem] lg:min-h-[50rem] flex justify-center"
>
  <img
    src={backgroundHomeImage}
    alt="Background image"
    class="absolute top-0 w-[50rem] h-[50rem] md:w-full md:h-[50rem] lg:h-[75rem] lg:-top-60 object-cover"
  />

  <div class="relative flex flex-col items-center gap-y-4 mt-36">
    <h1
      class={`text-6xl font-extrabold flex flex-col md:flex-row items-center gap-x-3 ${textGradient}`}
    >
      DOTLABS
      <div>
        (MEDELLÍN)
        <img src={lineIcon} alt="Line Icon" class="w-[18rem] ml-7" />
      </div>
    </h1>
    <p class="max-w-md text-center text-lg">
      {t("home.invitation")}
    </p>
    <a
      id="startButton"
      class="bg-main text-white px-16 py-3 rounded-lg flex items-center gap-x-4 z-10"
    >
      <img src={startIcon} alt="Start Icon" />
      <span>{t("home.button")}</span>
    </a>
  </div>
</section>

<script>
  const startButton = document.getElementById("startButton");
  const date = document.getElementById("date");
  startButton?.addEventListener("click", () =>
    date?.scrollIntoView({
      behavior: "smooth",
      block: "center",
    })
  );
</script>
