---
---

<div class="mapouter shadow-lg">
  <div class="gmap_canvas">
    <iframe
      class="gmap_iframe"
      width="100%"
      src="https://maps.google.com/maps?width=600&height=400&hl=en&q=Medellin&t=&z=14&ie=UTF8&iwloc=B&output=embed"
    ></iframe>
  </div>
  <!-- Styles provided by "Embed Google Maps" -->
  <!-- https://embed-google-maps.com/ -->
  <style>
    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 328px;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 328px;
    }
    .gmap_iframe {
      height: 328px !important;
    }
  </style>
</div>
