---
import { Trans } from "astro-i18next/components";
import { textGradient } from "../utils/constants";
import Map from "./Map.astro";
---

<section
  id="map"
  class="h-fit mb-36 min-h-[20rem] flex justify-center relative"
>
  <div class="grid grid-cols-1 gap-10 md:grid-cols-2 items-center z-20">
    <div class="flex flex-col gap-5 md:w-3/4 my-auto w-full">
      <h1 class={`text-left text-5xl font-extrabold ${textGradient}`}>
        <Trans i18nKey="mapSection.title">¡No te pierdas!</Trans>
      </h1>
      <p>
        <Trans i18nKey="mapSection.textContent">
          ¡El hackhaton se llevará a cabo en un lugar único y especialmente
          diseñado para este evento! A través de Google Maps, podrás ver en
          detalle la ubicación del evento y obtener direcciones para llegar al
          lugar. No te pierdas esta oportunidad única de participar en el
          hackhaton en el lugar perfecto. ¡Te esperamos allí!
        </Trans>
      </p>
    </div>
    <Map />
  </div>
  <img
    src="/src/assets/images/background_blocks_rigth.svg"
    alt="The image cannot be rendered"
    class="absolute bottom-0"
  />
</section>
