---
import { Trans } from "astro-i18next/components";
import { textGradient } from "../utils/constants";
import BackgroundBlockLeft from "../assets/images/background_blocks_left.svg";
import BackgroundBlockRigth from "../assets/images/background_blocks_rigth.svg";
---

<section class="h-screen min-h-[20rem] flex justify-between">
  <div
    class="w-full h-3/4 rounded-3xl flex flex-col place-content-center drop-shadow-xl bg-gradient-to-tl to-orange-50 from-blue-100 opacity-90 backdrop-blur-sm"
  >
    <img
      src={BackgroundBlockRigth}
      alt="The image cannot be rendered"
      class="absolute top-0 right-0 brightness-100"
    />
    <h1 class={`text-center text-7xl font-extrabold ${textGradient} z-30`}>
      <Trans i18nKey="ticketCard.title">OBTÉN TU TICKET</Trans>
    </h1>
    <p class="text-center text-3xl font-bold z-30">
      <Trans i18nKey="ticketCard.textContent">
        ¡No esperes más y obtén tu ticket para participar!
      </Trans>
    </p>
    <button
      class={`w-[300px] gap-3 rounded-2xl py-2 px-12 flex place-self-center justify-center text-white mt-10 bg-main z-10`}
      ><img src="/src/assets/icons/ticket-icon.svg" alt="Alt text" /><Trans
        i18nKey="ticketCard.button"
      >
        Adquirir
      </Trans></button
    >
    <img
      src={BackgroundBlockLeft}
      alt="The iamge cannot be rendered"
      class="absolute bottom-0"
    />
  </div>
</section>
