---
import ytIcon from "../../assets/icons/youtube.svg";
---

<div class="w-full items-start">
  <a
    href="https://youtube.com/@Dotlabs_"
    target="_blank"
    class="flex py-2 px-4 gap-3 justify-between text-white border-2 border-white rounded-md font-semibold bg-red-600 max-w-max text-md shadow-md"
    ><img src={ytIcon} alt="Youtube Icon" class="m-auto" />Dotlabs_</a
  >
</div>
