---
import Header from "../components/Header.astro";
import Countdown from "../components/Countdown.astro";
import { backgroundGradientColor } from "../utils/constants";
/* export interface Props {
  title: string;
}

const { title } = Astro.props; */
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dotlabs(Medellín)</title>
    <!-- Improve SEO -->
  </head>
  <body class={`w-full mx-auto ${backgroundGradientColor}`}>
    <Header />
    <Countdown />
    <main class="max-w-[90rem] mx-auto px-9">
      <slot />
    </main>
    <footer>Soy el footer prros</footer>
  </body>
</html>
